.py-5{
    background-color: $rosa-oscuro;
    margin-top: 5%;
}
.redes_sociales{
@extend .py-5;
display: flex;
justify-content:space-around;
align-items: center;
}

.logos_redes {
    @extend .redes_sociales;
   i{

    margin-right: 20%;
    }
    .bi {

     
         &:hover{
        
            transform: scale(2,2);
            }

    }
}

.row{
    @extend .redes_sociales;
    font-size: small;
}

@mixin logos ($tamanio-logo,$color-logo,$color-logo-hover){
    color:$color-logo;
    font-size: $tamanio-logo;
    &:hover{
        color:$color-logo-hover;
        }

}

.bi-facebook {
    @include logos(xx-large,blue,white);
}

.bi-instagram{

    @include logos(x-large,pink,black);
}

.bi-youtube{

    @include logos(xx-large,red,grey);
}

.bi-whatsapp{

    @include logos(x-large,green,yellow);
}

.derechos_reservados{
text-align: center;
}

.mb-3 {
    margin-right: 15%;
}