.header{ 

    background-color:$rosa-oscuro;
    display: flex;
    align-items: center;
    justify-content:space-around;

    
    img{
        width: 100px;
        margin: 0 30px 0 30px;
        background-color:$rosa-oscuro;
        }
     
        h4{
            color:white;
            font-size: 175%;
            text-shadow: 0 0 4px rgb(0, 0, 0);
            padding: 2%;
            text-align: center;
            }

        a{
                color:white;
                text-shadow: 0 0 4px rgb(0, 0, 0);
                }
        
        ul{
            
                    display: flex;
                    align-items: flex-end;
                    font-size:medium;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: bold;
                    list-style: none;  
                    background-color:$rosa-oscuro;  
                    align-items: center;
                    }

    
    }

    .header-menu {

        a{
            &:hover{

                color: #b95d7d;
                text-shadow: 0 0 4px rgb(0, 0, 0);
            
            }
        }
    }

   
